/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines 1rem = 10px based
    // on the default 16px browser font size
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 50%;
    }

    @include respond(tab-port) {
        font-size: 60%;
    }

    @include respond(tab-land) {
        font-size: 70%;
    }

    @include respond(big-desktop) {
        font-size: 80%;
    }
}

body {
    box-sizing: border-box; /* change box model so margin and padding is not part of height/width */
}